*, .App{
    margin: 0;
    padding: 0
}
html,body{
    min-height: 100%;
}
.page-wrapper {
    min-height: 100vh;
    /* equal to footer height */
      margin-bottom: -21rem; 
}
.page-wrapper:after{
    content: "";
    display: block;
  }
.site-footer, .page-wrapper:after{
    height: 21rem;
}