*, .App{
    margin: 0;
}
html,body{
    min-height: 100%;
    background-color: yellow;
}
.page-wrap {
    min-height: 100%;
    /* equal to footer height */
      margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
.site-footer, .page-wrapper::after{
    min-height: 17em;
}
.App{
    background-color: lightblue;
}
.main-content{
    background-color: #000;
}
.main-content{
    min-height: 100vh;    
}
.center{
    text-align: center
}
.red{background-color: red}
.main-content{
    margin: 0;
    padding: 0;
    color: #fff;
    margin-bottom: -1rem;
}